<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>757392803864-pev4rpqpit3d14e14m8mj8no8rgjprn0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757392803864-pev4rpqpit3d14e14m8mj8no8rgjprn0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>757392803864-35l8oigt6aa39h08rsn5knsuvrlk4dlr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCZ6ThSE9bjeMDfGF_JbUcXpboIQXtRMjk</string>
	<key>GCM_SENDER_ID</key>
	<string>757392803864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gems.firebase</string>
	<key>PROJECT_ID</key>
	<string>fir-mobile-os</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-mobile-os.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757392803864:ios:911c40c3e849752e06db6d</string>
	<key>DATABASE_URL</key>
	<string>https://fir-mobile-os.firebaseio.com</string>
</dict>
</plist>
